@use '../abstracts/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: linear-gradient(135deg, $gray-100 0%, $gray-200 100%);
  color: $text-dark;
  line-height: 1.6;
  min-height: 100vh;
}
